name: NFL PQ Dashboard Update
on:
  schedule:
    - cron: "23 * * * *"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Tools
        run: pip install pandas numpy pytz
      - name: Run Dashboard
        run: python update_rankings.py
      - name: Push to Site
        run: |
          git config --global user.name "NFL Stats Bot"
          git config --global user.email "actions@github.com"
          git add index.html
          git commit -m "Auto Update" || exit 0
          git push
